*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

/* header  */
#logo img{
    height: 90px;
    padding-right: 25px;
    border-right: 1px solid lightgrey;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 50px 0px;
}

a{
    color: grey;
    text-decoration: none;
    font-size: 22px;
    padding-right: 20px;
}

.section-title{
    margin-top: 40px;
    margin-bottom: 30px;
}

.side{
    float: left;
    width: 20%;
}

.center{
    float: left;
    margin: 0px 1.5%;
    width: 57%;
}

.box::after{
    content: "";
    display: table;
    clear: both;
}

.box{
    padding-bottom: 20px;
    margin-bottom: 10px;
}

footer{
    margin-bottom: 50px;
}



/* ***** DEBUG ***** */

.debug .jumbotron{
    background-color: khaki;
    height: 650px;
}

.debug .row, .debug .image, .debug .text {
    background-color: lightblue;
}

.debug .box{
    background-color: dodgerblue;
}

.debug .section-title{
    height: 100px;
}

.debug .image{
    height: 200px;
}

.debug .text{
    height: 450px;
}

.debug footer{
    background-color: darkviolet;
    height: 80px;
}



